#banner {
  width: 100vw;
  height: 100vh;
  background-image: url('images/fleur-lg.jpg');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: 100% 100%;
  /* border: 1px solid red; */
}

h1 {
  /* color: red; */
}
